.fundoAmarelo {
  background-color: #FFF200;
}

body,
.fundoAzul {
  background-color: #11518A;
}

.textoAzul {
  color: #14467C;
}

.App,
.limite-video {
  min-width: 100%;
  max-width: 1080px;
  overflow: hidden;
}

.BoasVindas h1 {
  font-size: 4rem;
  font-weight: 800;
}

.BoasVindas p {
  font-size: 3rem;
  font-weight: 500;
}

.Inicio .botoes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Inicio .botoes img {
  max-width: 80%;
}

.Cabecalho .carousel img {
  object-fit: cover;
  object-position: center;
  max-height: 200px;
}

.Cabecalho h1 {
  font-size: 2rem;
  font-weight: 700;
}

iframe {
  overflow: scroll;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: rgba(255, 255, 255, 0.5);
  /* background-color: var(--bs-secondary); */
}